<?xml version="1.0"?>
<robot>

  <link name="rplidar_link">
    <visual>
      <origin xyz="0 0 0.003"/>
      <geometry>
        <box size="0.079 0.086 0.006"/>
      </geometry>
      <material name="support">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 0.023"/>
      <geometry>
        <cylinder radius="0.038" length="0.04"/>
      </geometry>
      <material name="lidar">
        <color rgba="1.0 0.0 0.0 0.7"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.003"/>
      <geometry>
        <box size="0.079 0.086 0.006"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.023"/>
      <geometry>
        <cylinder radius="0.038" length="0.04"/>
      </geometry>
    </collision>
  </link>

  <joint name="rplidar_joint" type="fixed">
    <origin xyz="0.0 0.0 0.05"/>
    <parent link="base_link"/>
    <child link="rplidar_link"/>
  </joint>

  <link name="laser_frame"/>

  <joint name="laser_joint" type="fixed">
    <origin xyz="0 0 0.03" rpy="0 0 ${pi}"/>
    <parent link="rplidar_link"/>
    <child link="laser_frame"/>
  </joint>
  
  
  <gazebo reference="rplidar_link">
    <sensor type="gpu_lidar" name="generic_lidar_sensor">

      <topic>/model/leo/scan</topic>
      <frame_id>rplidar_link</frame_id>
      <ignition_frame_id>rplidar_link</ignition_frame_id>
      <update_rate>10.0</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>512</samples>
            <resolution>1</resolution>
            <min_angle>${-pi*2}</min_angle>		
            <max_angle>${pi*2}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.05</min>
          <max>10.0</max>
          <resolution>0.03</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <always_on>1</always_on>
      <visualize>false</visualize>
    </sensor>
  </gazebo>
  <gazebo>
    <plugin filename="libignition-gazebo-sensors-system.so" name="ignition::gazebo::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
  
  
  <gazebo reference="d435i_camera_link">
  <sensor name="d435_depth" type="depth_camera">
  <topic>/model/leo/depth_camera</topic>
  <frame_id>d435i_camera_link</frame_id>
  <ignition_frame_id>d435i_camera_link</ignition_frame_id>
    <update_rate>10</update_rate>
    <range>
          <min>0.05</min>
          <max>10.0</max>
          <resolution>0.03</resolution>
        </range>
    
    <camera name="simple_camera">
              <horizontal_fov>1.51855</horizontal_fov>
              <vertical_fov>1.01229</vertical_fov>
              <image>
                  <width>1280</width>
                  <height>720</height>
                  <format>R8G8B8</format>
              </image>
              <clip>
              <near>0.05</near>
              <far>2.0</far>
              </clip>
          </camera>
          
          
          <always_on>1</always_on>
          <visualize>true</visualize>
      </sensor>
    </gazebo>
  
  

</robot>




